@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bannerimg{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerimg img{
    height: 90%;
    border-radius: 10px;
}
.bannerimg1 img{
    box-shadow: #B86B37 0px 5px 55px, #C0B5B1 0px -12px 30px, #3E3128 0px 4px 6px, #483A31 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bannerimg2 img{
    box-shadow: #621276 0px 5px 55px, #F7D362 0px -12px 30px, #DEA160 0px 4px 6px, #454954 0px 12px 13px, #F7D362 0px -3px 5px;
}
.bannerimg3 img{
    box-shadow: #AB6DFE 0px 5px 55px, #9955E8 0px -12px 30px, #49D3EE 0px 4px 6px, #DF3FBB 0px 12px 13px, #8644E6 0px -3px 5px;
}
.bannerimg4 img{
    box-shadow: #564337 0px 5px 55px, #2C1D16 0px -12px 30px, #030303 0px 4px 6px, #564337 0px 12px 13px, #2C1D16 0px -3px 5px;
}
.bannerimg5 img{
    box-shadow: #267B95 0px 5px 55px, #5D4AE4 0px -12px 30px, #F166C9 0px 4px 6px, #687482 0px 12px 13px, #5D4AE4 0px -3px 5px;
}
.bannerimg6 img{
    box-shadow: #01131F 0px 5px 55px, #ECEBD7 0px -12px 30px, #226C85 0px 4px 6px, #F2C958 0px 12px 13px, #226C85 0px -3px 5px;
}
.bannerimg7 img{
    box-shadow: #7C320D 0px 5px 55px, #9BDBF5 0px -12px 30px, #962F58 0px 4px 6px, #FF6D42 0px 12px 13px, #9BDBF5 0px -3px 5px;
}
.bannerimg8 img{
    box-shadow: #564337 0px 5px 55px, #2C1D16 0px -12px 30px, #030303 0px 4px 6px, #564337 0px 12px 13px, #2C1D16 0px -3px 5px;
}
.bannerimg9 img{
    box-shadow: #564337 0px 5px 55px, #2C1D16 0px -12px 30px, #030303 0px 4px 6px, #564337 0px 12px 13px, #2C1D16 0px -3px 5px;
}
.top{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2% 0;
}
.card{
    z-index: 200;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 2%;
    margin-bottom: 2%;
}
.innercard{
    background-color: #0708090f;
    padding: 2rem;
    width: 100%;
    border-radius: 10px;
    background: rgba(175, 175, 175, 0.208);
    backdrop-filter: blur(4px);
}
.card h1{
    margin: 2% 0;
    color: #FAA300;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card p{
    font-size: 1rem;
    color: #fff;
    line-height: 2;
    margin-bottom: 2%;
}
.card button{
    background: transparent;
    outline: none;
    border: none;
}
.card button a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card button a{
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    margin: 1rem;
    background: #FDA403;
    border-radius: 2rem;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.btnregis{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btnregis button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnregis1{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-content: center;
}
.btnregis1 button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff56;
    margin: 1%;
    border-radius: 2rem;
}
.btnregis1 button img{
    width: 3.5rem;
    border-radius: 50%;
    margin: 0 10px 0 20px;
}
/* dtv cards */
.dtv{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
}
.dtv .card{
    /* border: 1px solid red; */
    width: 70%;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dtv .card h1{
    font-size: 2vw;
}
.dtv .card p{
    color: #240A34;
}
/* dtv cards */
@media only screen and (max-width:1000px){
    .dtv{
        flex-wrap: wrap;
    }
    .dtv .card{
        width: 100%;
    }
    .dtv .card h1{
        font-size: 2rem;
    }
    .btnregis1{
        flex-direction: column;
    }
}
@media only screen and (max-width:750px){
    .card{
        width: 90%;
    }
}
@media only screen and (max-width:500px){
    .card{
        width: 100%;
        background-color: #22283150;
    }
    .bannerimg img{
        height: 80%;
    }
    .card h1{
        font-size: 2.5rem;
    }
    .top{
        padding: 0;
    }
    .innercard h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:430px){
    .card button a{
        padding: 0.5rem 1rem;
        margin: 1rem 0;
    }
    .btnregis1 button img{
        margin: 0;
    }
}